
body,
html {
  height: 100%;
}


#Base{
    margin-top: 45px;
    margin-bottom: 0px;
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
    width: calc(100% - 140px);
    min-width: 980px;
}

#Filter{
    width: 100%;
    display: flex;
}

.Block{
    vertical-align: middle;
    margin-right: 20px;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
}

.News{
    /* padding-top: 2px; */
    vertical-align: middle;
    font-size: 35px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    justify-content: center;
}

.SelectID{
    width: 281px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid rgba(205, 205, 205, 0.17);
    background: #FFF;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.10) inset;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    Outline: none;
}
.Search{
    width: 277px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-indent: 16px;
}

select {
    color: gray;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 1px solid #ccc;
    padding-left: 18px;
    font-family: 'Istok Web', sans-serif;
}

.SelectID:hover{
    color: rgb(0, 0, 0);
    background: #e0e0e034;
}

select option:first-child{
    color: gray;
}
select option:not(:first-child){
    color: #000000;
}

select:not(:has(option[value=""]:checked)) {
    color: #000000;
}

.Select {
    position: relative;
}

.select_arrow {
    position: absolute;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 7px 4px 0px 4px;
    border-color: #000000 transparent transparent transparent;
}

.calendar-img {
    width: 25px;
    height: 25px;
}

.Date {
    padding-top: 5px;
    margin-right: 0px;
    justify-content: flex-start;
    position: relative;
}
.Date2 {
    margin-right: 0px;
    justify-content: flex-start;
    position: relative;
}

input[type="date"] {
    position: absolute;
    height: 25px;
    border: none;
    width: 25px;
    font-size: 1.1rem;
    z-index: 2;
    opacity: 0;
}
.image-date {
    height: 25px;
    position: absolute;
    z-index: 0;
}
.Date:hover .calendar-img{
    opacity: 70%;
}

#news {
    background-color: #ffffff;
    margin-top: 45px;
    margin-bottom: 60px;
    overflow: auto;
    width: 100%;
    height: auto;
    min-height: 888px;
}

#news .cards2 {
    width: 100%;
    height: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.44rem;
}

#news .card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f3f3f3;
}