/* Основные стили */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body, html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Istok Web', sans-serif;
}
#content {
  margin-top: 60px;
  width: 100%;
  display: flex;
  min-height: 900px;
}

#menu_left{
  margin-left: 60px;
  padding-right: 15px;
  width: 15%;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#menu_left > * {
  border: none;
}
#menu_left a {
  text-decoration: none;
  text-align: left;
}
#menu_left ul {
  text-align: left;
  padding-left: 0;
  margin: 0;
}

#menu_left ul li {
  list-style-type: none;
  margin-bottom: 20px;
}
#menu_left ul li a {
  color: #888;
font-size: 15px;
font-family: 'Heebo', sans-serif;
font-weight: 700;
line-height: 138.9%;
letter-spacing: 0.75px;
text-transform: uppercase;
}
#menu_left .activ_a{
  color: rgba(0, 108, 79, 1);
}
#mainbody{
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: white;
  position:relative;
  overflow:hidden;
  margin-right: 60px;
  margin-left: 45px;
  padding-left: 2px;
  padding-bottom: 30px;
}







