/* Основные стили */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Istok Web', sans-serif;
}

#content {
  height: auto;
  margin-top: 60px;
  width: 100%;
  display: flex;
  min-height: 900px;
}

#content h1 {
  font-size: 30px;
  font-family: 'Istok Web', sans-serif;
  font-weight: 400;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  margin: 0;
}

#contacts {
  margin-left: 60px;
  margin-right: 60px;
  width: 20%;
  background-color: white;
}

#contacts h2 {
  font-size: 17px;
  font-family: 'Istok Web', sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.075px;
  text-transform: uppercase;
}

#contacts p {
  color: #000;
  font-size: 14px;
  font-family: 'Istok Web', sans-serif;
  line-height: 200%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

#contacts .contacts-block {
  padding-top: 15px;
  padding-bottom: 15px;
}

#contacts span {
  color: #006C4F;
}

#maps-question {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: 60px;
}

#maps {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  overflow: hidden;
}

#maps a {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 0px;
}

#maps iframe {
  padding-top: 15px;
  position: relative;
}

#question {
  margin-top: 25px;
}

#question #smallInp {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

#question #bigInp {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

#question #smallInp input {
  flex: 1;
  margin-right: 20px;
  height: 50px;
  border: 1px solid rgba(205, 205, 205, 0.30);
  border-radius: 20px;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.30);
  font-size: 15px;
  font-family: 'Istok Web', sans-serif;
  line-height: 87%;
}

#question #bigInp #textAreaForQuestion {
  flex: 1;
  resize: none;
  width: auto;
  height: auto;
  min-height: 300px;
  border: 1px solid rgba(205, 205, 205, 0.30);
  border-radius: 20px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.30);
  font-size: 15px;
  font-family: 'Istok Web', sans-serif;
  line-height: 150%;
}

#personalAccept {
  display: flex;
  color: rgba(0, 0, 0, 0.70);
  font-size: 15px;
  font-family: 'Istok Web', sans-serif;
  line-height: 150%;
  margin: 0px;
}

#personalAccept a {
  color: rgba(0, 0, 0, 0.70);
}

#personalAccept p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
}

#personalAccept #Checkbox {
  width: 18px;
  height: 18px;
}
.styled-button {
  width: 206px;
  height: 45px;
  margin-top: 15px;
  background-color: #006C4F;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  color: #FFF;
  font-size: 15px;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  line-height: 0%;
  letter-spacing: -0.3px;
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

.styled-button:hover {
  background-color: #000;
  color: #fff;
}