@font-face {
    font-family: "IstokWeb"; 
    src: url("./res/fonts/IstokWeb-Regular.ttf") format("truetype"); 
    font-style:initial;
    font-weight:bolder;
}
@font-face {
    font-family: "IstokWebBold"; 
    src: url("./res/fonts/IstokWeb-Bold.ttf") format("truetype");
    font-style:initial; 
    font-weight: normal; 
}

#Base{
    margin-top: 45px;
    margin-bottom: 0px;
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
    width: calc(100% - 140px);
    min-width: 980px;
}

#Filter{
    width: 100%;
    display: flex;
}

.Block{
    vertical-align: middle;
    margin-right: 20px;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
}

.News{
    /* padding-top: 2px; */
    vertical-align: middle;
    font-size: 35px;
    font-family:'IstokWebBold';
    color: #000;
    text-transform: uppercase;
    justify-content: center;
}

.SelectID{
    width: 281px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid rgba(205, 205, 205, 0.17);
    background: #FFF;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.10) inset;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    Outline: none;
}
.Search{
    width: 277px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-indent: 16px;
}

select {
    color: gray;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 1px solid #ccc;
    padding-left: 18px;
    font-family:'IstokWeb';
}

.SelectID:hover {
    color: rgb(0, 0, 0);
    background: #e0e0e034;
}

select option:first-child{
    color: gray;
}

select:not(:has(option[value=""]:checked)) {
    color: #000000;
}

.Select {
    position: relative;
}

.select_arrow {
    position: absolute;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 7px 4px 0px 4px;
    border-color: #000000 transparent transparent transparent;
}

.calendar-img {
    width: 25px;
    height: 25px;
}

.Date {
    margin-right: 0px;
    padding: 4px;
    justify-content: flex-start;
}

input[type="date"]{
    border: none;
    width: 100%;
    font-size: 1.5rem
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 0;
    content: url(calendar.png);
}
input[type="date"]{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    Outline: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    margin:0;
}
input[type="date"]::-webkit-datetime-edit {
    display:none;
}
input[type="date"]:hover{
    border-radius: 5px;
    background: #e0e0e034;
}

#news {
    background-color: #ffffff;
    margin-top: 45px;
    overflow: auto;
    width: 100%;
    min-height: 828px
}

#news::-webkit-scrollbar {
    display: none;
}

#news .cards2 {
    width: 100%;
    height: 768px;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(auto-fill, 240px);
    grid-template-columns: repeat(4, 1fr);
    gap: 1.44rem;
}

#news .card {
  position: relative;
  width: 100%;
  height: calc(width- 10px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #f3f3f3;
}