/* Основные стили */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

@font-face {
  font-family: "IstokWeb";
  src: url("./res/fonts/IstokWeb-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "IstokWebBold";
  src: url("./res/fonts/IstokWeb-Bold.ttf") format("truetype");
  font-style: initial;
  font-weight: normal;
}
body, html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'IstokWeb';
}

#content {
  width: 100%;
  display: flex;
  min-height: 900px;
  height: 100%;
}
#contacts{
  width: 20%;
  background-color: white;
}
#maps{
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  position:relative;
  overflow:hidden;
}
#maps a {
  color:#eee;
  font-size:12px;
  position:absolute;
  top:0px;
}
#maps iframe{
  position:relative;

}
#maincontent {
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
  width: calc(100% - 140px);
}

#news {
  background-color: #ffffff;
}

#news .activee,
#education .activee {
  background-color: #ffffff;
  width: auto;
  height: auto;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #2D3237;
  font-size: 30px;
  font-family: 'IstokWebBold';
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  padding: 0;
  margin-right: 10px;
}

#news .nonactivee,
#education .nonactivee {
  border: none;
  font-family: 'IstokWeb';
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: #ffffff;
  color: #616569;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.27px;
  border-radius: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  margin-right: 10px;
  margin-bottom: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#news .nonactivee:hover,
#education .nonactivee:hover {
  background-color: transparent;
  color: #4b4b4b;
  border: 1px solid #615e5e;
}

#news h3,
#education h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

#news nav,
#education nav {
  flex-grow: 1;
  text-align: left;
}

#news nav ul,
#education nav ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#news nav li,
#education nav li {
  position: relative;
}

#news .cards {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
}

#news .card {
  position: relative;
  width: 25%;
  height: calc(width- 10px);
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f3f3f3;
}

#news .card::before {
  content: "";
  display: block;
  padding-top: 110%;
}

#news .card:last-child {
  margin-right: 0;
}

#news .card .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s;
}

#news .card:hover .image {
  transform: scale(1.1);
}

#news .card h3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 40px);
  padding: 20px;
  font-size: 25px;
  color: #ffffff;

}

#education {
  background-color: #ffffff;
  margin-top: 30px;
}

#education h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

#education .cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

}

#education .cards>div:nth-child(even) {
  justify-self: right;
}

#education .card {

  width: calc(100% - 60px);
  height: 250px;
  border-radius: 7px;
  background: #FFF;
  box-shadow: 0px 0px 2px 1px rgba(104, 104, 104, 0.25);
  padding: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-position: right center;
}


#education .card .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-bottom: 10px;
  margin-left: 15px;
}

#education .card .text h4 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 24px;
  font-family: 'Heebo', sans-serif;
  line-height: 150%;
  letter-spacing: -0.36px;
}

#education .card .text p {
  margin-top: auto;
  margin-bottom: auto;
  color: rgba(0, 0, 0, 0.70);
  font-size: 22px;
  font-family: 'Heebo', sans-serif;
  line-height: 176%;
  letter-spacing: -1.21px;

}


#education .bottomtext a,
#digital .bottomtext a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  line-height: 117.4%;
  letter-spacing: 0.8px;
}

#education .bottomtext img {
  margin-left: 20px;
}

#education .programSS {
  margin-top: 60px;
  margin-bottom: 0px;
  justify-items: center;
  text-align: center;
}

#education .programSS p {
  color: #202238;
  text-align: center;
  font-size: 18px;
  font-family: 'IstokWeb';
  line-height: 160%;
  letter-spacing: -0.81px;
}

#education .programSS img {
  height: 110px;
  width: 110px;
}

#digital {
  background-color: #ffffff;

}

#digital h3 {
  color: #2D3237;
  font-size: 30px;
  font-family: 'IstokWeb';
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

#digital nav {
  margin-bottom: 40px;
  flex-grow: 1;
  text-align: left;
}

#digital nav ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#digital nav li {
  margin-right: 20px;
}

#digital .activee {
  border-radius: 10px;
  background: #087054;
  width: auto;
  height: auto;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-family: 'IstokWeb';
  line-height: 150%;
  letter-spacing: -0.36px;
  padding: 5px 15px 5px 15px;
  margin-right: 10px;
}

#digital .nonactivee {
  border: none;
  font-family: 'IstokWeb';
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: #ffffff;
  color: #616569;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.27px;
  border-radius: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  margin-right: 10px;
  margin-bottom: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#digital .nonactivee:hover {
  background-color: transparent;
  color: #4b4b4b;
  border: 1px solid #615e5e;
}

#digital .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

#digital .card {
  display: flex;
  justify-content: center;
  position: relative;
  background-size: 100% 100%;
  border-radius: 7px;
  width: auto;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
}

#digital .card::before {
  content: "";
  display: flex;
  padding-top: 70%;
}


#digital .card .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 80%;
}

#digital .card .text h4 {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-family: 'IstokWebBold';
  font-weight: 900;
  line-height: 117.4%;
  letter-spacing: 1.1px;
}

#digital .card .text p {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  line-height: 170.5%;
  letter-spacing: 0.6px;
  margin-top: 0;
  margin-bottom: 0;
}

#digital .bottomtext {
  text-align: center;
  margin-bottom: 30px;
}

.digital-a {
  width: 200px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #006C4F;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: 'IstokWeb';
  font-weight: 500;
  letter-spacing: -0.3px;
}

.digital-a:hover {
  background-color: #000;
  color: #fff;
}

#digital .neworder {
  justify-items: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

#digital .neworder img {
  height: 120px;
  width: 120px;
}

footer {
  background-color: #00150f;
  color: #ffffff;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
  height: 200px;

}

footer a {
  color: #ffffff;
}

.social-links a {
  text-align: center;
  width: 48px;
  height: 48px;
  float: right;
  border: 1px solid #00150f;
  border-radius: 12px;
  margin: 0 10px 10px 0;
  padding: 6px;
  transition: 0.3s ease-out;
}

.social-links img {
  filter: invert(100%);
}

.terms {
  font-size: 14px;
}

.social-links a:hover {
  background: #006c4f;
  color: #00150f;
  transition: 0.3ms;
}

.left-content {
  margin-top: 20px;
  margin-left: 20px;
}

.right-content {
  margin-top: 13px;
  margin-right: 20px;
}

.location {
  margin-bottom: 15px;
}

.left-content a {
  text-decoration: none;
  font-size: 22px;
}

.left-content img {
  filter: invert(100%);
}

.left-content p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-content #address {
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 109px;
  background-color: #ffffff;
  box-shadow: 0px 2px 22px 13px rgba(0, 0, 0, 0.29);
  padding: 0 20px;
}

header nav {
  margin-left: auto;
  margin-right: auto;
}

header .logo {
  margin-right: 65px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

header nav ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  height: 109px;
}

header nav a {
  font-family: 'Istok Web', sans-serif;
  display: block;
  padding-left: 15px;
  text-decoration: none;
  padding-top: 47px;
  padding-right: 15px;
  color: #000;
  font-size: 13px;
  font-weight: 700;
}



/* Стилизуем выпадающее меню */
header nav .dropdown .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  background-color: #e9e9e9;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0;

}

header nav .dropdown .submenu a {
  padding: 0;
  margin: 20px;
  font-family: 'Istok Web', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 15px;
  line-height: 161.945%;
  letter-spacing: 0.75px;
  word-spacing: nowrap;
}

header nav .dropdown:hover .submenu {
  display: inline-block;
}

.switchpic {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.switchpic-slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.switchpic-slide {
  position: relative;
  flex: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;

}

.switchpic-slide.active {
  display: block;
}

.switchpic-slide-content {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
  padding-left: 60px;

}

.switchpic-slide-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.switchpic-slide-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.switchpic-slide-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.switchpic-slide-btn:hover {
  background-color: #000;
  color: #fff;
}

.switchpic-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchpic-dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.switchpic-dot.active {
  transform: scale(1.2);
  background-color: #fff;
}