/* Основные стили */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

#content {
  width: 100%;
    display: grid;
    justify-items: left;
}
#maincontent{
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
  width: calc(100% - 140px);
}
#news {
    background-color: #ffffff;
}
#news h2 , #education h2 {
  color: #2D3237;
font-size: 26px;
font-family: "IstokWebBold";
line-height: 150%;
letter-spacing: -0.9px;
text-transform: uppercase;
}
#news li, #education li{

  color: #616569;
font-size: 18px;
font-family:"IstokWeb";
line-height: 150%;
letter-spacing: -0.27px;
}
#news h3,  #education h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
#news nav,  #education nav {
  flex-grow: 1;
  text-align: left;
}
#news nav ul,  #education nav ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
#news nav li,  #education nav li  {
  position: relative;
}

#news nav a,  #education nav a {
  display: block;
  margin-left: 20px;
  margin-bottom: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #626262;
  text-decoration: none;
}
#news a , #education li a{
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  margin-top: 10px;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

#news a:hover, #education nav a:hover{
  background-color: transparent;
  color: #000000;
  border: 1px solid #615e5e;
}

#news .cards {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
}

#news .card {
  position: relative;
  width: 25%;
  height: calc(width- 10px);
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f3f3f3;
}
#news .card::before {
  content: "";
  display: block;
  padding-top: 110%; /* Установите высоту псевдоэлемента в два раза больше ширины элемента */
}

#news .card:last-child {
  margin-right: 0;
}

#news .card .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s;
}

#news .card:hover .image {
  transform: scale(1.1);
}

#news .card h3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 40px);
  padding: 20px;
  font-size: 25px;
  color: #ffffff;
  
}
#education {
    background-color: #ffffff;
    margin-top: 30px;
}

#education h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#education .cards {
  margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  
}

.cards > div:nth-child(even) {
  justify-self: right; 
}
#education .card {
    width: calc(100% - 60px);
    height: 250px;
    border-radius: 7px;
background: #FFF;
box-shadow: 0px 0px 2px 1px rgba(104, 104, 104, 0.25);
    padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: right center;
}

.card img {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
  width: 120px;
  height: 120px;
}

#education .card .text {
    width: 60%;
    margin-bottom: 10px;
}

#education .card .text h4 {
    font-size: 22px;
    margin-bottom: 5px;
}

#education .card .text p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#education .bottomtext{
  position: absolute;
  bottom: 20px;

}
#education .bottomtext a{
  text-decoration: none;
  color:#000;
  font-size: 20px;
}


#education p {
    margin-top: 20px;
    font-size: 16px;
}


#digital {
    background-color: #ffffff;

}

#digital h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#digital nav {
    margin-bottom: 20px;
}

#digital nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#digital nav li {
    margin-right: 20px;
}

#digital nav li a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

#digital nav li a:hover {
    background-color: #f3f3f3;
}

#digital .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#digital .card {
  width: 20%;
    background-color: #f3f3f3;
    padding: 20px;
}

#digital .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

#digital .card .text {
    margin-bottom: 10px;
}

#digital .card .text h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

#digital .card .text p {
    font-size: 16px;
    margin-bottom: 10px;
}

#digital p {
    margin-top: 20px;
    font-size: 16px;
}


.digital-a {
  width: 200px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #006C4F;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-bottom: 100px;
  margin-bottom: 70px;
}

.digital-a:hover {
  background-color: #000;
  color: #fff;
}
#digital .neworder{
    margin-top: 30px;
    justify-items: center;
    text-align: center;
}

footer {
  background-color: #00150f;
  color: #ffffff;
  display: flex;
  align-items:start;
  justify-content: space-between;
  padding: 20px;
  height: 200px;

}
footer a {
  color: #ffffff;
}
.social-links a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: right;
    border: 1px solid #00150f;
    border-radius: 12px;
    margin: 0 10px 10px 0;
    padding: 6px;
    transition: 0.3s ease-out;
}
.social-links img {
  filter:invert(100%);
}
.terms{
  font-size: 14px;
}
.social-links a:hover {
  background: #006c4f;
  color: #00150f;
  transition: 0.3ms;
}
.left-content{
  margin-top: 20px;
  margin-left: 20px;
}
.right-content{
  margin-top: 13px;
  margin-right: 20px;
}
.location{
  margin-bottom: 15px;
}
.left-content a{
  text-decoration: none;
  font-size: 22px;
}
.left-content img{
  filter:invert(100%);
}
.left-content p{
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-content #address{
  margin-top: 20px;
}



  /* GOVNO ZALUPA */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
  }
  
  nav {
    margin-left: 20px;
    margin-right: auto;
  }
  
  .logo {
    margin-right: 65px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  nav ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    position: relative;
    font-family: "IstokWebBold";
  }
  
  nav a {
    display: block;
    padding: 20px;
    color: #333333;
    text-decoration: none;
  }


  
  /* Стилизуем выпадающее меню */
  nav .dropdown .submenu {
    font-family:"IstokWeb";
    display: none;
    position: absolute;
    margin-top: 20px;
    top: 100%;
    left: 0;
    z-index: 2;
    min-width: 200px;
    background-color: #e9e9e9;
    border: 1px solid #e8e8e8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-top: 35px;
  }
  
  nav .dropdown:hover .submenu {
    display: block;
  }

  .switchpic {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .switchpic-slides {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .switchpic-slide {
    position: relative;
    flex: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;

  }
  
  .switchpic-slide.active {
    display: block;
  }

  .switchpic-slide-content {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #fff;
    z-index: 2;
    padding-left: 60px;

  }

  .switchpic-slide-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .switchpic-slide-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .switchpic-slide-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  .switchpic-slide-btn:hover {
    background-color: #000;
    color: #fff;
  }

  .switchpic-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .switchpic-dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .switchpic-dot.active {
    transform: scale(1.2);
    background-color: #fff;
  }
  @font-face {
    font-family: "IstokWeb"; 
    src: url("./res/fonts/IstokWeb-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
    @font-face {
      font-family: "IstokWebBold"; 
      src: url("./res/fonts/IstokWeb-Bold.ttf") format("truetype"); 
      font-style: normal; 
      font-weight: normal; 
      } 